---
layout: default
---

<article class="post type-post hentry">
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
  </header>

  <div class="entry-content">
    {{ content }}
  </div>

  <footer class="entry-footer">
    <span class="posted-on">
      <a href="{{ page.url | relative_url }}" rel="bookmark">
        <time class="entry-date published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y年%-m月%-d日" }}</time>
      </a>
    </span>
    {% if page.categories and page.categories.first %}
      {% assign category_slug = page.categories.first %}
      {% assign category_item = site.data.categories[category_slug] %}
      <span class="cat-links">
        <a href="{{ '/categories/' | relative_url }}#{{ category_slug }}">{{ category_item.label | default: category_slug }}</a>
      </span>
    {% endif %}
  </footer>
</article>
